*.py[co]
*~
docs/build/*
dist
build
cover*
.coverage
*.egg
*.egg-info
.testrepository
.stestr
.tox
ChangeLog
MANIFEST
monasca.log


*.swp
*.iml
.DS_Store
.cache
.classpath
.idea
.project
.target/
java/debs/*
.settings/
target
test-output/
logs/
*config*.yml
db/config.yml
virtenv/*
.vagrant
AUTHORS

*.sample
