oslo.config
oslo.log
oslo.middleware
oslo.serialization
oslo.utils

python-keystoneclient

falcon
gunicorn>=19.1.0
keystonemiddleware
pastedeploy
pbr
python-dateutil
six
ujson>=1.33
pyparsing
voluptuous
MySQL-python
influxdb
eventlet
kafka-python
simplejson
simport
validate_email>=1.3
