oslo.config
oslo.log
oslo.middleware
oslo.serialization
oslo.utils

python-keystoneclient

falcon
keystonemiddleware
pastedeploy
pbr
six
pyparsing
voluptuous
#influxdb
#cassandra-driver>=2.1.4,!=3.6.0 # Apache-2.0
eventlet
kafka-python>=0.9.5,<1.0.0
simplejson
monasca-common>=0.0.2
sqlalchemy
