oslo.config
oslo.log
oslo.middleware
oslo.serialization
oslo.utils

python-keystoneclient

falcon
gunicorn>=19.1.0
keystonemiddleware
pastedeploy
pbr
six
pyparsing
voluptuous
influxdb
eventlet
kafka-python>=0.9.5,<1.0.0
simplejson
simport
validate_email>=1.3
monasca-common>=0.0.2
sqlalchemy
