Package: [[name]]
Section: misc
Priority: optional
Architecture: all
Depends: openjdk-7-jre-headless | openjdk-7-jre
Version: [[version]]-[[timestamp]]-[[buildNumber]]
Maintainer: Monasca Team <monasca@lists.launchpad.net>
Description: Monasca-API
  RESTful API for all Monasca data.
